//============================================
// breakpoint
//============================================
@mixin sp {
  @media only screen and (max-width: 767px) {
    @content;
  }
}
@mixin tab-sm {
  @media only screen and (max-width: 992px) {
    @content;
  }
}

@mixin tab {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

@mixin lg {
  @media only screen and (max-width: 1200px) {
    @content;
  }
}
@mixin desktop {
  @media only screen and (min-width: 1025px) {
    @content;
  }
}
@mixin md {
  @media only screen and (min-width: 768px) {
    @content;
  }
}
@mixin max-1280 {
  @media only screen and (max-width: 1280px) {
    @content;
  }
}
@mixin icon($right, $color) {
  content: '';
  position: absolute;
  right: $right;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  background-color: $color;
}
@mixin bg() {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #b4b4b4;
  mix-blend-mode: multiply;
}