//baseWidth
$base-width: 1080px;
$header-height: 80px;

$jp-fonts: 'Noto Sans JP', YuGothic, 'ヒラギノ角ゴ Pro',
  'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', sans-serif;
$en-fonts: 'Michroma', sans-serif;

//color common
$primary: #275317;
$white: #fff;
$gray-900: #373737;
$gray-800: #b9b9b9;
$gray-700: #a9a9a9;
$gray-600: #b4b4b4;
$gray-200: #f9f9f9;
$gray-100: #f6f6f6;
$black: #282727

