@use '../abstracts' as *;

/*------------------------------------------------------------
    Base
------------------------------------------------------------*/
html {
  font-size: 62.5%;

  * {
    box-sizing: border-box;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
}

body {
  font-family: $jp-fonts;
  font-size: 1.4rem;
  line-height: 1.5;
  position: relative;
  color: $black;

  &.en {
    p {
    letter-spacing: 0 !important;
    }


    .header__nav {
      &::after {
        width: 77%;
      }
    }

    .list01__ttl {
      font-size: 2rem;
    }

    .message__boxname .name .jp {
      font-size: 2rem;
    }
  }
}

main {
  // overflow: hidden;
}

.under {
  main {
    overflow: hidden;
  }
}