<footer class="footer">
  <div class="container">
    <div class="footer__logo">
      <a href="/">
        <img src="/assets/img/common/logo-ft.png" alt="endoluminal solutions">
      </a>
    </div>
    <div class="footer__wrap">
      <div class="footer__left">
        <div class="footer__nav">
          <ul class="footer__menu">
            <li>
              <a href="#">TOP</a>
            </li>
            <li>
              <a href="#">代表者紹介</a>
            </li>
            <li>
              <a href="#">インタビュー</a>
            </li>
            <li>
              <a href="#">会社概要</a>
            </li>
            <li>
              <a href="#">製品紹介</a>
            </li>
            <li>
              <a href="#">外科医の働き⽅を多様に</a>
            </li>
            <li>
              <a href="#">現⾏の胃がん検診の問題点</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__right">
        <p class="txt">共同開発にご協⼒いただいている学外施設</p>
        <ul class="footer__menu">
          <li>
            <p>⼤阪国際がんセンター</p>
          </li>
          <li>
            <p>慶應義塾⼤学</p>
          </li>
          <li>
            <p>国⽴がん研究センター</p>
          </li>
          <li>
            <p>JCHO⼤阪病院</p>
          </li>
          <li>
            <p>神奈川県⽴がんセンター</p>
          </li>
          <li>
            <p>東京慈恵会医科⼤学</p>
          </li>
        </ul>
      </div>
    </div>
    <p class="footer__copyright">© endoluminal solutions, Inc.</p>
  </div>
  <div class="js-totop">
    <span></span>
  </div>
</footer>