<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__logo">
        <a href="/">
          <img src="/assets/img/common/logo-ft.png" alt="endoluminal solutions">
        </a>
      </div>
      <div class="footer__nav">
        <ul class="footer__menu">
          <li>
            <a href="#">TOP</a>
          </li>
          <li>
            <a href="#">代表者紹介</a>
          </li>
          <li>
            <a href="#">インタビュー</a>
          </li>
          <li>
            <a href="#">会社概要</a>
          </li>
          <li>
            <a href="#">製品紹介</a>
          </li>
          <li>
            <a href="#">外科医の働き⽅を多様に</a>
          </li>
          <li>
            <a href="#">現⾏の胃がん検診の問題点</a>
          </li>
        </ul>
      </div>
    </div>
    <p class="footer__copyright">© endoluminal solutions, Inc.</p>
  </div>
  <div class="js-totop">
    <span></span>
  </div>
</footer>
