@use '../abstracts' as *;

/*------------------------------------------------------------
    Block
------------------------------------------------------------*/
.block01 {
  display: flex;
  align-items: flex-start;
  @include sp {
    display: block;
  }

  //.block01__left .
  &__left {
    position: relative;
    z-index: 1;
    margin-right: 4.8vw;
    @include sp {
      margin-right: 0;
    }
  }

  .map01 {
    max-width: 550px;
    height: 268.5px;
    margin-top: 42px;
    @include sp {
      margin-top: 33px;
      height: 300px;
    }
  }

  //.block01__detail .
  &__detail {
    margin-top: 16px;
    @include sp {
      margin-top: 26px;
    }

    dl {
      .content {
        display: flex;
        align-items: flex-start;
        @include sp {
          display: block;
        }

        dt {
          width: 166px;
          padding-right: 20px;
          font-size: 1.4rem;
          color: $primary;
          line-height: calc(24.5 / 14);
          letter-spacing: 0.1em;
          font-weight: 500;
          @include sp {
            padding-right: 0;
            width: 100%;
          }
        }

        dd {
          flex: 1;
          max-width: 904px;
          font-size: 1.4rem;
          font-weight: 400;
          letter-spacing: 0.1em;
          line-height: calc(28 / 14);
          font-feature-settings: 'palt';
          @include sp {
            line-height: calc(23.8 / 14);
            max-width: 102%;
            margin-right: -10px;
          }
        }

        & + .content {
          margin-top: 26px;
          @include sp {
            margin-top: 19px;
          }
        }
      }
    }
  }
}

.block04 {
  margin: 30px 0;
  @include sp {
    margin: 20px 0;
  }

  //.block04__inner .
  &__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @include sp {
      display: block;
    }
  }

  //.block04__img .
  &__img {
    width: 368px;
    height: 552px;
    flex-shrink: 0;
    @include tab {
      width: 268px;
      height: 452px;
    }
    @include sp {
      width: 100%;
      height: 300px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  //.block04__content .
  &__content {
    padding-left: 67px;
    @include tab {
      padding-left: 30px;
    }
    @include sp {
      padding-left: 0;
    }
  }

  .block04__ttl {
    margin: 30px 0 20px;
    @include tab {
      margin: 20px 0 10px;
    }
  }

  //.block04__boxname .
  &__boxname {
    font-weight: 500;

    .note {
      color: $primary;
      font-size: 1.2rem;
      line-height: calc(21 / 12);
      letter-spacing: 0.1em;
      font-feature-settings: 'palt';
      margin-bottom: 6px;
      font-weight: 500;
    }

    .name {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      line-height: 1.2;
      @include sp {
        flex-wrap: wrap;
      }

      .pos {
        font-size: 1.4rem;
        letter-spacing: 0.1em;
        margin-right: 17px;
        font-weight: 500;
      }

      .jp {
        font-size: 2.5rem;
        letter-spacing: 0.1em;
        margin-right: 12px;
        font-weight: 500;
      }

      .en {
        font-family: $en-fonts;
        font-weight: 400;
        font-size: 1rem;
        letter-spacing: 0;
        line-height: calc(16 / 10);
        color: $gray-700;
        @include sp {
          margin-top: 5px;
        }
      }
    }
  }
}
