@use '../abstracts/' as *;


.breadcrumb {
  border-bottom: 1px solid $gray-800;
  padding: 20px 0;
  @include sp {
    padding: 10px 0;
  }

  ul {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    line-height: calc(23 / 12);
    color: $primary;
    letter-spacing: 0.1em;
  }

  li:not(:last-child) {
    margin-right: 10px;
  }

  li {
    a {
      color: $black;
    }

    span {
      margin-left: 8px;
    }
  }
}
