@use '../abstracts/' as *;
@use 'sass:color';

/*------------------------------------------------------------
    Button
------------------------------------------------------------*/
.btn01 {
  width: 122px;

  .btn01__txt {
    width: 100%;
    background-color: transparent;
    border-radius: 19px;
    min-height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 6px 5px 21px;
    transition: all 0.3s ease-in-out;
    color: $white !important;
    text-decoration: none !important;
    position: relative;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: $en-fonts;
    line-height: calc(13 / 12);
    z-index: 1;
    border: 1px solid $white;
    @include md {
      &:hover {
        opacity: 1;
        color: $black !important;
        &::before {
          left: 0;
          width: 100%;
          height: 100%;
          overflow: hidden;
          z-index: -1;
          border-radius: 19px;
        }
      }
    }

    &::before {
      @include icon(auto, $white);
      left: 14px;
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    }
  }
}

.btn02 {
  width: 122px;

  .btn02__txt {
    width: 100%;
    background-color: transparent;
    border-radius: 19px;
    min-height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 6px 5px 21px;
    transition: all 0.3s ease-in-out;
    color: $primary !important;
    text-decoration: none !important;
    position: relative;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.1em;
    font-feature-settings: 'palt';
    z-index: 1;
    border: 1px solid $primary;
    @include md {
      &:hover {
        opacity: 1;
        color: $white !important;
        &::before {
          left: 0;
          width: 100%;
          height: 100%;
          overflow: hidden;
          z-index: -1;
          border-radius: 19px;
        }
      }
    }
    &::before {
      @include icon(auto, $primary);
      left: 14px;
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    }
  }
}
