@use '../abstracts/' as *;
@use 'sass:color';

/*------------------------------------------------------------
    Button
------------------------------------------------------------*/
.btn01 {
    width: 122px;
  .btn01__txt {
    width: 100%;
    background-color: transparent;
    border-radius: 19px;
    min-height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 6px 5px 21px;
    transition: all 0.3s ease-in-out;
    color: $white !important;
    text-decoration: none !important;
    position: relative;
    font-size: 1.2rem;
    font-weight: 400;
    font-family: $en-fonts;
    line-height: calc(13 / 12);
    z-index: 1;
    border: 1px solid $white;
    &::before {
      @include icon(auto, $white);
      left: 14px;
    }
  }
}
