@use '../abstracts/' as *;
/*------------------------------------------------------------
    Faq
------------------------------------------------------------*/
.faq {
  background: $gray-200;
  transition: all 0.3s;
  border-bottom: 1px solid $gray-800;

  &:first-child {
    border-top: 1px solid $gray-800;
  }

  &.is-open {
    .faq__heading {
      &::before,
      &::after {
        transform-origin: 50% 0;
      }
    }
  }

  //.faq__list .
  &__list {
    background-color: $gray-200;
    padding: 70px;
    @include sp {
      padding: 20px;
    }
  }

  //.faq__heading .
  &__heading {
    padding: 26px 70px 25px 28px;
    position: relative;
    cursor: pointer;
    @include sp {
      padding: 15px 32px 15px 9px;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      bottom: 46%;
      right: 30px;
      width: 1px;
      height: 9px;
      background-color: $primary;
      transform-origin: 50% calc(100% - 0px);
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  //.faq__ttl .
  .faq__ttl {
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.1em;
    position: relative;
    padding-left: 41px;
    color: $primary;
    @include sp {
      font-size: 1.5rem;
      padding-left: 38px;
    }

    &::before {
      content: 'Q';
      font-size: 1.6rem;
      line-height: 1;
      color: $primary;
      font-weight: 400;
      font-family: $en-fonts;
      position: absolute;
      top: 4px;
      left: 0;
      @include sp {
        font-size: 1.4rem;
        margin-top: -1px;
      }
    }
  }

  //.faq__info .
  &__info {
    display: none;
    padding: 23px 40px 32px;
    position: relative;
    @include sp {
      padding: 16px 25px 24px 20px;
    }
  }

  //.faq__txt .
  .faq__txt {
    font-size: 1.4rem;
    line-height: calc(28 / 14);
    color: $black;
    position: relative;
    padding-left: 41px;
    letter-spacing: 0.1em;
    font-weight: 400;
    @include sp {
      padding-left: 40px;
      font-size: 1.5rem;
    }

    &::before {
      content: 'A';
      font-size: 1.6rem;
      line-height: 1;
      color: $primary;
      font-weight: 400;
      position: absolute;
      font-family: $en-fonts;
      top: 4px;
      left: 0;
      @include sp {
        font-size: 1.4rem;
      }
    }
  }
}
