@use '../abstracts' as *;

/*------------------------------------------------------------
    List
------------------------------------------------------------*/
.list01 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-top: 70px;
  border-top: 1px solid $primary;
  gap: 3px;

  //.list01__item .
  &__item {
    position: relative;
    width: calc((100% / 3) - 2px);
    overflow: hidden;
    @include md {
      &:hover {
        .list01__img {
          transform: scale(1.1) translate3d(0, -5%, 0);
          transition: transform 10s cubic-bezier(0, 0.1, 0.05, 0.99),
            -webkit-transform 10s cubic-bezier(0, 0.1, 0.05, 0.99);
        }

        .btn01 {
          .btn01__txt {
            background-color: $white;
            opacity: 1;
            color: $black !important;
          }
        }
      }
    }
  }

  //.list01__img .
  &__img {
    position: relative;
    height: 357px;
    overflow: hidden;
    transition: transform 10s cubic-bezier(0.03, 0.71, 0.12, 0.96),
      -webkit-transform 10s cubic-bezier(0.03, 0.71, 0.12, 0.96);

    &::after {
      @include bg();
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  //.list01__content .
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    color: $white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 11px;
  }

  //.list01__note .
  &__note {
    position: absolute;
    left: 14px;
    top: 14px;
    color: $white;
    writing-mode: vertical-rl;
    font-family: $en-fonts;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: calc(13.55 / 12);
  }

  //.list01__ttl .
  &__ttl {
    font-size: clamp(1.8rem, 0.781vw + 1.2rem, 2.2rem);
    font-weight: 500;
    line-height: calc(35.81 / 22);
    letter-spacing: 0.1em;
    margin-bottom: 16px;
  }
}

.list-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 25px;
  @include sp {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
  }

  .btn01 {
    width: 343px;
    margin: 0;
    letter-spacing: 0.015em;
    @include sp {
      width: 100%;
    }
  }
}
