@use '../abstracts' as *;
/*------------------------------------------------------------
    Table of Contents Plus
------------------------------------------------------------*/
.maincontent #toc_container {
  width: 100%;
  margin: 20px 0;
  background: $white !important;
  border: 1px solid $primary !important;
  padding: 20px !important;
  width: auto;
  font-size: 100%;
  display: block;

  @include sp {
    padding: 15px;
  }

  .toc_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  li {
    width: 48%;
    margin: 8px 1%;
    border-bottom: 1px dotted $gray-800;
    padding: 3px 0 6px;

    @include sp {
      width: 100%;
      margin: 6px 0;
      font-size: 1.4rem;
    }
  }

  a {
    display: block;
    position: relative;
    color: $black;
    font-size: 1.4rem;
    font-weight: 500;
    transition: 0.3s all;
    text-decoration: none !important;

    &::after {
      @include icon(0, $primary);
    }
    @include md {
      &:hover {
        opacity: 1;
        color: $primary;
        text-decoration: none;

        &::after {
          width: 6px;
          height: 6px;
        }
      }
    }
  }
}
