@use '../abstracts/' as *;

/*------------------------------------------------------------
    Footer
------------------------------------------------------------*/

.footer {
  padding: 101px 0 47px;
  background: url(/assets/img/top/footer_bg.jpg) no-repeat center / cover;
  overflow: hidden;
  @include sp {
    padding: 39px 0 25px;
  }

  //.footer__wrap .
  &__wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @include tab-sm {
      flex-wrap: wrap;
    }
  }

  //.footer__logo .
  &__logo {
    max-width: 368px;
    padding-bottom: 41px;
    margin-bottom: 21px;
    border-bottom: 1px solid $white;
    @include sp {
      max-width: 217px;
      margin: 0 auto;
      border: 0;
      padding-bottom: 31px;
    }
  }

  //.footer__nav .
  &__nav {
    max-width: 368px;
    @include sp {
      display: none;
    }
  }

  //.footer__menu .
  &__menu {
    display: flex;
    flex-flow: column wrap;
    max-height: 150px;
    gap: 0 44px;
    @include sp {
      display: block;
    }

    li {
      a,
      p {
        color: $white;
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: 0.1em;
        line-height: calc(34 / 16);
        padding-left: 10px;
        position: relative;
        font-feature-settings: 'palt';

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 11px;
          width: 4px;
          height: 4px;
          background-color: $white;
          border-radius: 50%;
        }
      }
    }
  }

  //.footer__right .
  &__right {
    border: 1px solid $white;
    padding: 30px 35px 27px;
    width: 100%;
    max-width: 502px;
    margin-top: -22px;
    @include tab-sm {
      margin-top: 20px;
    }
    @include sp {
      max-width: calc(100% - 20px);
      margin: 0 auto;
      padding: 22px 28px;
    }

    .txt {
      color: $white;
      text-align: center;
      font-size: 1.6rem;
      letter-spacing: 0.1em;
      font-feature-settings: 'palt';
      margin-bottom: 18px;
      @include sp {
        line-height: calc(30 / 16);
        margin-bottom: 15px;
      }
    }

    .footer__menu {
      max-height: 120px;
      gap: 0 56px;
      @include sp {
        display: block;
        max-height: 100%;
        max-width: 198px;
        margin: 0 auto;
      }

      li {
        p {
          &::before {
            top: 15px;
            @include sp {
              width: 3px;
              height: 3px;
              top: 16px;
            }
          }
        }
      }
    }
  }

  //.footer__copyright .
  &__copyright {
    color: $white;
    font-weight: 400;
    font-size: 1.2rem;
    font-family: $en-fonts;
    margin-top: -14px;
    @include tab-sm {
      margin-top: 20px;
    }
    @include sp {
      text-align: center;
      margin-top: 26px;
    }
  }
}

.js-totop {
  position: fixed;
  transition: all 0.3s ease;
  bottom: 40px;
  right: 40px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: $primary;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.07);
  color: $white;
  border: 0;
  cursor: pointer;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;

  @include tab {
    width: 50px;
    height: 50px;
    bottom: 54px;
    right: 20px;
  }

  @include sp {
    width: 50px;
    height: 50px;
    bottom: 25px;
    right: 10px;
  }

  &.is-active {
    transform: translate(0);
    visibility: visible;
    opacity: 1;

    &:hover {
      opacity: 0.8;
    }
  }

  span {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 22px;
    height: 22px;

    &::before,
    &::after {
      content: '';
      display: block;
      box-sizing: border-box;
      position: absolute;
      top: 4px;
    }

    &::after {
      width: 8px;
      height: 8px;
      border-top: 2px solid;
      border-left: 2px solid;
      transform: rotate(45deg);
      left: 7px;
    }

    &::before {
      width: 2px;
      height: 16px;
      left: 10px;
      background: currentColor;
    }
  }
}
