@use '../abstracts/' as *;

/*------------------------------------------------------------
    Page
------------------------------------------------------------*/
.mv01 {
  position: relative;

  //.mv01__img .
  &__img {
    @include tab {
      height: 300px;
    }
    @include sp {
      height: 250px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  //.mv01__content .
  &__content {
    position: absolute;
    left: 50px;
    bottom: 50px;
    @include sp {
      left: 20px;
      bottom: 30px;
    }
  }

  //.mv01__title .
  &__title {
    font-size: clamp(3.2rem, 2.344vw + 1.4rem, 4.4rem);
    font-weight: 500;
    letter-spacing: 0.1em;
    color: $white;
    @include sp {
      font-size: 2.5rem;
    }
  }

  //.mv01__list .
  &__list {
    position: relative;
    z-index: 2;
  }
}

/*------------------------------------------------------------
    Main Content
------------------------------------------------------------*/
.maincontent {
  padding-top: 90px;
  padding-bottom: 100px;
  position: relative;
  z-index: 1;

  @include tab {
    padding-top: 40px;
  }

  @include sp {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  @import '../components/content';

  .section__popup {
    padding-top: 50px;

    .btn01 {
      margin: 0 auto;
      max-width: 320px;

      .btn01__txt {
        width: 100%;
        cursor: pointer;
      }
    }
  }
}

.under {
  .header__logoLink {
    img {
      filter: brightness(0) invert(1);
    }
  }

  .hamburger-line {
    background: $white;

    &::before,
    &::after {
      background-color: $white;
    }
  }

  .hamburger-txt {
    color: $white;
  }

  .header {
    &.fix,
    &.is-active {
      .header__logoLink {
        img {
          filter: none;
        }
      }

      .hamburger-line {
        background: $primary;

        &::before,
        &::after {
          background-color: $primary;
        }
      }

      .hamburger-txt {
        color: $black;
      }
    }

    &.is-active {
      .nav__hamburger {
        .hamburger-line {
          background: transparent;
        }
      }
    }
  }

  .section {
    padding-top: 55px;
    @include sp {
      padding-top: 40px;
    }

    &-pd02 {
      padding-top: 32px;
    }

    &-pd03 {
      padding-top: 39px;
    }

    &-pd04 {
      padding-top: 62px;
    }

    &-pd06 {
      padding-top: 62px;
    }

    &-pd07 {
      padding-top: 30px;
    }

    &-pd08 {
      padding-top: 20px;
    }

    &-pd09 {
      padding-top: 38px;
    }

    &-pd10 {
      padding-top: 38px;
    }

    &-pd11 {
      padding-top: 51px;
    }

    &-pd12 {
      padding-top: 57px;
    }

    &-pd13 {
      padding-top: 44px;
    }

    &-pd14 {
      padding-top: 58px;
    }
  }
}
