@use '../abstracts/' as *;

/*------------------------------------------------------------
    Mainvisual
------------------------------------------------------------*/
.mv {
  // height: 100vh;
  background-color: #fff;
  position: relative;
  z-index: 1;

  //.mv__wrap .
  &__wrap {
  }

  //.mv__vis .
  &__vis {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100lvh;
    overflow: hidden;
  }

  //.mv__imgwwrap .
  &__imgwwrap {
    position: relative;
    width: 100%;
    height: 100%;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 29.7%;
      height: 91.5%;
      border: 1px solid $primary;
      border-radius: 190px;
      transform: translate(-50%, -50%);
    }
  }

  //.mv__img .
  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28%;
    height: 89%;
    border-radius: 180px;
    overflow: hidden;
    transform: translate(-50%, -50%);

    &-item {
      position: relative;
      z-index: 0;
      width: 100%;
      height: 100%;
      transform: scale(1.6);
      transform-origin: center;
      border-radius: 0;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-cover {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.35);
      backdrop-filter: blur(15px);
      opacity: 0;
      will-change: opacity, backdrop-filter;
    }
  }

  //.mv__slidetxt .
  &__slidetxt {
    font-size: 21.39rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    display: flex;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    font-family: $en-fonts;
    color: $gray-200;
    transform: translate(-50%, -50%);
    will-change: clip-path;

    .txt {
      flex-shrink: 0;
      padding-right: 0.5em;
      pointer-events: none;
      animation: scrollText2 30s linear infinite;
      will-change: transform;
    }
  }

  //.mv__space .
  &__space {
    height: 200lvh;
  }

  //.mv__videobg .
  &__videobg {
    position: absolute;
    bottom: -250px;
    left: 0;
    width: 100%;
    z-index: -1;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  //.mv__bgimg .
  &__bgimg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
/*------------------------------------------------------------
    Newsbox
------------------------------------------------------------*/
.newsbox {
  position: absolute;
  right: 50px;
  bottom: 38px;
  max-width: 376px;

  //.newsbox__head .
  &__head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
    margin-bottom: 16px;
    border-bottom: 1px solid $gray-800;
  }

  //.newsbox__ttl .
  &__ttl {
    font-size: 1.4rem;
    font-weight: 400;
    font-family: $en-fonts;
    line-height: calc(15.04 / 14);
    color: $black;
  }

  //.newsbox__btn .
  &__btn {
    .txt {
      font-size: 1.2rem;
      color: $primary;
      font-weight: 400;
      font-family: $en-fonts;
      line-height: calc(13 / 12);
      padding-left: 10px;
      position: relative;

      &::before {
        @include icon(auto, $primary);
        left: 0;
      }
    }
  }

  //.newsbox__link .
  &__link {
  }

  //.newsbox__date .
  &__date {
    font-size: 1.05rem;
    font-weight: 400;
    font-family: $en-fonts;
    line-height: calc(11.09 / 10.5);
    color: $gray-800;
    margin-bottom: 3px;
  }

  //.newsbox__text .
  &__text {
    position: relative;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.1em;
    padding-right: 20px;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

    &::after {
      @include icon(0, $primary);
    }
  }
}
/*------------------------------------------------------------
    Concept
------------------------------------------------------------*/
.concept {
  position: relative;
  // background: url(/assets/img/top/concept_img.jpg) no-repeat center / cover;
  padding: 50px 0 125px;

  //.concept__inner .
  &__inner {
    display: flex;
    align-items: center;
  }

  .title01 {
    position: relative;
    z-index: 1;
    margin-right: 8.7vw;
  }

  //.concept__content .
  &__content {
    color: $white;
    position: relative;
    z-index: 1;
  }

  //.concept__ttl .
  &__ttl {
    font-size: clamp(2rem, 1.953vw + 0.5rem, 3rem);
    font-weight: 500;
    letter-spacing: 0.1em;
    font-feature-settings: 'palt';
    line-height: calc(52.5 / 30);
    margin-bottom: 27px;
  }

  //.concept__txt .
  &__txt {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: calc(48 / 16);
    letter-spacing: 0.1em;
    font-feature-settings: 'palt';
  }
}
/*------------------------------------------------------------
    Imgtxt
------------------------------------------------------------*/
.imgtxt {
  position: relative;
  padding: 145px 0 69px;

  &::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: $gray-100;
    width: 996px;
    height: 728px;
    z-index: -1;
    @include lg {
      width: 800px;
    }
    @include tab {
      width: 500px;
    }
  }

  //.imgtxt__inner .
  &__inner {
    display: grid;
    grid-template-columns: 45.3% 54.7%;
    justify-content: flex-end;
    align-items: flex-end;
    max-width: calc(100% - (100% - 1120px) / 2);
    padding-left: 20px;
    padding-bottom: 60px;
    margin-left: auto;
  }

  //.imgtxt__img .
  &__img {
    grid-row: 1 / span 3;
    grid-column-start: 2;
    margin-bottom: 10px;
  }

  //.imgtxt__content .
  &__content {
    padding: 62px 85px 0 0;
    @include lg {
      padding: 60px 50px 0 0;
    }
  }

  //.imgtxt__ttl .
  &__ttl {
    font-weight: 500;
    letter-spacing: 0.1em;
    margin-bottom: 35px;

    .small {
      font-size: 1.4rem;
      line-height: calc(24.5 / 14);
      color: $primary;
      display: block;
      padding-left: 40px;
      position: relative;
      margin-bottom: 7px;

      &::before {
        position: absolute;
        content: '';
        background: $primary;
        width: 30px;
        height: 1px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .jp {
      font-size: clamp(2rem, 1.953vw + 0.5rem, 3rem);
      line-height: calc(52.5 / 30);
      display: block;
    }
  }

  &.second {
    background-color: $black;
    z-index: 1;
    padding-bottom: 270px;

    &::after {
      background-color: $gray-900;
      height: 562px;
    }

    .imgtxt__inner {
      padding-bottom: 0;
    }

    .title02 {
      background-image: linear-gradient(to right, #275317 0%, #fff 60%);
    }

    .imgtxt__img {
      margin-bottom: 0;
    }

    .imgtxt__content {
      padding: 77px 85px 0 0;
      @include tab {
        padding: 77px 40px 0 0;
      }
    }

    .imgtxt__ttl {
      color: $white;

      .small {
        margin-bottom: 11px;

        &::before {
          background-color: $white;
        }
      }
    }

    .txt01 {
      margin-bottom: 31px;
    }
  }
}
/*------------------------------------------------------------
    message
------------------------------------------------------------*/
.message {
  margin-top: -120px;
  position: relative;
  z-index: 1;
  padding-bottom: 70px;

  //.message__top .
  &__top {
    position: relative;
    max-width: calc((996 / 1280) * 100vw);
    margin-left: auto;
  }

  //.message__bg .
  &__bg {
    height: 578px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  //.message__boxname .
  &__boxname {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    width: 474px;
    height: 115px;
    bottom: 30px;
    left: 0;
    background: $white;
    padding: 14px 9px 11px 35px;
    @include sp {
      left: 50%;
      transform: translateX(-50%);
      bottom: -45px;
    }

    .note {
      font-size: 1.2rem;
      font-weight: 500;
      letter-spacing: 0.1em;
      line-height: calc(21 / 12);
      color: $primary;
      display: block;
      font-feature-settings: 'palt';
    }

    .name {
      display: flex;
      align-items: center;
      letter-spacing: 0.1em;
      font-weight: 500;

      .pos {
        font-size: 1.4rem;
        margin-right: 15px;
      }

      .jp {
        font-size: 3.3rem;
        margin-right: 12px;
        letter-spacing: 0.1em;
        font-feature-settings: 'palt';
      }

      .en {
        font-size: 1.2rem;
        font-weight: 400;
        color: $gray-700;
        font-family: $en-fonts;
        letter-spacing: 0;
        line-height: calc(17 / 12);
      }
    }
  }

  //.message__wrap .
  &__wrap {
    margin-top: 97px;
    position: relative;
    z-index: 1;
  }

  //.message__inner .
  &__inner {
    display: flex;
    align-items: flex-end;
  }

  //.message__img .
  &__img {
    width: 360px;
    height: 400px;
    flex-shrink: 0;
    @include tab {
      width: 320px;
      height: 360px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  //.message__content .
  &__content {
    padding-left: 100px;
    @include tab {
      padding-left: 50px;
    }
  }

  //.message__ttl .
  &__ttl {
    font-weight: 500;
    margin-bottom: 35px;

    .small {
      font-size: 1.4rem;
      line-height: calc(24.5 / 14);
      color: $primary;
      display: block;
      padding-left: 33px;
      position: relative;
      margin-bottom: 8px;

      &::before {
        position: absolute;
        content: '';
        background: $primary;
        width: 30px;
        height: 1px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .jp {
      font-size: clamp(2rem, 1.953vw + 0.5rem, 3rem);
      line-height: calc(52.5 / 30);
      display: block;
      letter-spacing: 0.1em;
      font-feature-settings: 'palt';
    }
  }

  //.message__btns .
  &__btns {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 15px;

    .btn02 {
      &:last-child {
        width: 132px;
      }
    }
  }

  //.message__banner .
  &__banner {
    margin-top: 50px;
    padding-top: 48px;
    border-top: 1px solid $gray-800;

    a {
      img {
        object-fit: contain;
      }
    }
  }
}

.scrolltxt {
  display: flex;
  position: absolute;
  width: 100%;
  height: 247px;
  overflow: hidden;
  z-index: 1;
  margin-top: 14px;

  .scrolltxt-title {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    white-space: nowrap;
  }

  .scrolltxt-container {
    display: flex;
    animation: scrollText 30s infinite linear;

    p {
      margin-right: 60px;
      font-size: clamp(14rem, 14.258vw + 3.05rem, 21.3rem);
      line-height: calc(152.33 / 213.9);
      font-weight: 400;
      font-family: $en-fonts;
      color: $gray-200;
      padding-bottom: 0.2em;
    }
  }
}
/*------------------------------------------------------------
    career
------------------------------------------------------------*/
.career {
  position: relative;
  background-color: $gray-200;
  padding: 80px 0 50px;
}
/*------------------------------------------------------------
    Office
------------------------------------------------------------*/
.office {
  position: relative;
  background-color: $gray-200;
  padding: 44px 0 93px;

  .block01 {
    border-top: 1px solid $primary;
    padding-top: 66px;

    &__left {
      max-width: 550px;
      width: 100%;
      margin-right: min(((51 / 768) * 100vw), 84px);
      margin-top: 13px;
      @include lg {
        max-width: 450px;
      }
    }

    &__detail {
      margin-top: 0;

      dl {
        .content {
          display: block;

          dt {
            width: 100%;
            padding: 0;
            margin-bottom: 7px;
          }

          dd {
            max-width: 100%;
          }

          & + .content {
            margin-top: 28px;
          }
        }
      }
    }
  }
}
