@use '../abstracts/' as *;

/*------------------------------------------------------------
    Mainvisual
------------------------------------------------------------*/
.mv {
  height: 100vh;
  background-color: #fffced;
  position: relative;
}
/*------------------------------------------------------------
    Newsbox
------------------------------------------------------------*/
.newsbox {
  position: absolute;
  right: 50px;
  bottom: 50px;
  max-width: 376px;

  //.newsbox__head .
  &__head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid $gray-800;
  }

  //.newsbox__ttl .
  &__ttl {
    font-size: 1.4rem;
    font-weight: 400;
    font-family: $en-fonts;
    line-height: calc(15.04 / 14);
    color: $black;
  }

  //.newsbox__btn .
  &__btn {
    .txt {
      font-size: 1.2rem;
      color: $primary;
      font-weight: 400;
      font-family: $en-fonts;
      line-height: calc(13 / 12);
      padding-left: 10px;
      position: relative;

      &::before {
        @include icon(auto, $primary);
        left: 0;
      }
    }
  }

  //.newsbox__link .
  &__link {
  }

  //.newsbox__date .
  &__date {
    font-size: 1.05rem;
    font-weight: 400;
    font-family: $en-fonts;
    line-height: calc(11.09 / 10.5);
    color: $gray-800;
  }

  //.newsbox__text .
  &__text {
    position: relative;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.1em;
    padding-right: 20px;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

    &::after {
      @include icon(0, $primary);
    }
  }
}
/*------------------------------------------------------------
    Concept
------------------------------------------------------------*/
.concept {
  position: relative;
  background: url(/assets/img/top/concept_img.jpg) no-repeat center / cover;
  padding: 127px 0 125px;

  &::after {
    @include bg();
  }

  //.concept__inner .
  &__inner {
    display: flex;
    align-items: center;
  }

  .title01 {
    position: relative;
    z-index: 1;
    margin-right: 8.7vw;
  }

  //.concept__content .
  &__content {
    color: $white;
    position: relative;
    z-index: 1;
  }

  //.concept__ttl .
  &__ttl {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    font-feature-settings: "palt";
    line-height: calc(52.5 / 30);
    margin-bottom: 27px;
  }

  //.concept__txt .
  &__txt {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: calc(48 / 16);
    letter-spacing: 0.1em;
    font-feature-settings: "palt";
  }
}
/*------------------------------------------------------------
    Imgtxt
------------------------------------------------------------*/
.imgtxt {
  position: relative;
  padding: 145px 0;

  &::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: $gray-100;
    width: 996px;
    height: 728px;
    z-index: -1;
  }

  //.imgtxt__inner .
  &__inner {
    display: grid;
    grid-template-columns: 45.3% 54.7%;
    justify-content: flex-end;
    align-items: flex-end;
    max-width: calc(100% - (100% - 1120px) / 2);
    padding-left: 20px;
    padding-bottom: 60px;
    margin-left: auto;
  }

  //.imgtxt__img .
  &__img {
    grid-row: 1 / span 3;
    grid-column-start: 2;
    margin-bottom: 10px;
  }

  //.imgtxt__content .
  &__content {
    padding: 62px 85px 0 0;
  }

  //.imgtxt__ttl .
  &__ttl {
    font-weight: 500;
    letter-spacing: 0.1em;
    margin-bottom: 35px;

    .small {
      font-size: 1.4rem;
      line-height: calc(24.5 / 14);
      color: $primary;
      display: block;
      padding-left: 40px;
      position: relative;
      margin-bottom: 7px;

      &::before {
        position: absolute;
        content: '';
        background: $primary;
        width: 30px;
        height: 1px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .jp {
      font-size: 3rem;
      line-height: calc(52.5 / 30);
      display: block;
    }
  }
}
/*------------------------------------------------------------
    Sample
------------------------------------------------------------*/
/*------------------------------------------------------------
    Sample
------------------------------------------------------------*/

.message {
  //.message__boxname .
  &__boxname {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    width: 300px;
    height: 90px;
    bottom: 20px;
    left: 0;
    border-radius: 7px;
    padding: 10px;
    background: $white;
    padding: 15px 9px 15px 15px;
    @include sp {
      left: 50%;
      transform: translateX(-50%);
      bottom: -45px;
    }

    .note {
      font-size: 1.44rem;
      font-weight: 400;
      letter-spacing: 0.1em;
    }

    .name {
      display: flex;
      align-items: center;
      letter-spacing: 0.1em;

      .pos {
        font-size: 1.68rem;
        font-weight: 500;
        margin-right: 10px;
      }

      .jp {
        font-size: 2.41rem;
        font-weight: 700;
        margin-right: 5px;
      }

      .en {
        font-size: 1.2rem;
        font-weight: 400;
        // color: $gray;
        letter-spacing: 0;
      }
    }
  }
}
