@use '../abstracts/' as *;

/*------------------------------------------------------------
  Color
------------------------------------------------------------*/
.u-white {
  color: $white !important;
}